---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="About Alejandro Abaroa, a software engineer with a passion for design, UI/UX, and building products that people love."
	pubDate={new Date('January 28 2026')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		Text goes here.
	</p>
</Layout>
